ul.inbox-list {
  padding-left: 0;
  margin-bottom: 0;

  & > li {
    list-style: none;
    a {
      display: block;
      cursor: pointer;
      text-decoration: none;
    }

    &:hover {
      background: #e4dcf3;
    }

    &.active {
      background: blanchedalmond;
    }
  }
}
