ul.inbox-list {
  padding-left: 0;
  margin-bottom: 0;

  & > li {
    list-style: none;
    a {
      display: block;
      cursor: pointer;
      text-decoration: none;
    }

    &:hover {
      background: #e4dcf3;
    }

    &.active {
      background: darkturquoise;
    }
  }
}

.inbox-control {
  &.fixed {
    position: fixed;
    top: 10px;
    left: 15px;
    bottom: 10px;
    width: calc(33.33333% - 30px);
  }

  .inbox-list {
    overflow: auto;
  }

  .card-header > span {
    line-height: 38px;
  }
}

$listitem-height: 58px;
.inbox-list-item {
  color: black;
  padding: 10px 5px 10px 15px;
  border-top: 1px solid #EAEAEA;
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  $assignee-margin: 10px;
  $assignee-size: $listitem-height - 2 * $assignee-margin;

  .assignee {
    position: relative;
    background: steelblue;
    border-radius: $assignee-size / 2;
    color: white;
    flex-shrink: 0;
    font-size: 0.8em;
    font-weight: bold;
    height: $assignee-size;
    padding-top: 3px;
    line-height: $assignee-size;
    margin: $assignee-margin;
    text-align: center;
    text-transform: uppercase;
    width: $assignee-size;

    &.counter {
      background-color: #4e2d89;
    }

    .popover {
      display: none;
    }

    &:hover .popover {
      display: block;
    }
  }

  .popover {
    min-width: 200px;
    color: #333;
    position: absolute;
    top: 10px + $assignee-size / 2;
    left: auto;
    right: -5px;

    &.active {
      display: block;
    }

    .arrow {
      left: auto;
      right: 8px;
    }
  }

  .time-info {
    flex-shrink: 0;
    line-height: $listitem-height;
    color: #333;
  }

  .inbox-info {
    flex-grow: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.2em;

    small {
      color: #555;
    }
  }
}
