@mixin alert-variant($color) {
  background: lighten($color, 45%);
  border-left-color: $color;
  box-shadow: 0 1px 2px rgba(red($color), green($color), blue($color), 0.3);
}

.alert {
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  border-color: $gray-300;
  border-width: 1px 1px 1px 3px;

  @each $color, $value in $theme-colors {
    &.custom-alert-#{$color} {
      @include alert-variant($value);
    }
  }
}
